
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Instrument Sans', sans-serif;
  overflow-x: hidden;
}


.pins {
  position: relative;
  width: 100%;
  height: 120vh;
  background-image: url('../img/stackedvinyl.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: visible;
  z-index: 10;
}


.top {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px;
  text-align: left;
  position: relative;
  z-index: 2;
}

.top h1 {
  font-family: 'League Gothic', sans-serif;
  color: #f8f4f4;
  font-size: 140px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4%;
  text-align: left;
  padding-left: 20px;
}


.nav-button {
  position: absolute;
  display: inline-block;
  width: 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 50%;
  z-index: 1000;
  pointer-events: auto;
  cursor: pointer;
}

.nav-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.2s ease;
  pointer-events: auto;
}

.nav-button img:hover {
  transform: scale(1.1);
}


.northside-pin {
  top: 55%;
  left: -10%;
}

.searchers-pin {
  top: 35%;
  left: 10%;
}

.plug-pin {
  top: 50%;
  left: 30%;
  width: 435px;
  height: 435px;
}

.happy-pin {
  top: 25%;
  left: 45%;
  width: 450px;
  height: 450px;
}

.sound-pin {
  top: 15%;
  left: 70%;
  width: 435px;
  height: 435px;
}

.rathe-pin {
  top: -10%;
  left: 80%;
  width: 435px;
  height: 435px;
}


.bottom {
  position: relative;
  background-color: #C03C3A;
  color: #ffffff;
  max-width: 1400px;
  margin: 0 auto;
  padding: 60px 30px;
  text-align: left;
  z-index: 3;
}

.bottom h4 {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  max-width: 800px;
  margin-left: 0;
  padding-left: 0;
  text-align: left;
}


footer {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  height: 60px;
  text-align: center;
  color: #EBC402;
  background-color: #242424;
  padding-top: 20px;
  width: 100%;
}

/*GIF*/
.gif {
  position: absolute;       
  bottom: 0;            
  right: 0; 
  left: 825px;              
  width: 80vw;              
  max-width: 5000px;
  max-height: 5000px;      
  z-index: 10;             
 
}

.gif img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 0%;
  right:0%;
  
}






