* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Instrument Sans', sans-serif;
  overflow-x: hidden;
}

.top {
  width: 100%;
  background-image: url('../img/background_texture.png'); /* or your actual file path */
  background-size: cover;         /* makes it fill the full area */
  background-position: center;    /* keeps it centered */
  background-repeat: no-repeat;   /* prevents tiling */

  text-align: center;
  padding: 40px 0;
  z-index: 10;
  position: absolute;
  top: 200px;
}


.pins_background {
  background-image: url('../img/stackedvinyl.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  position: relative;
  margin-top: -100px; /* pulls background image up behind the header */
  z-index: 1;
}


.top h1 {
  font-family: "allotropic", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 100px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4%;
  margin: 0 auto;
}

.nav-button {
  position: absolute;
  display: inline-block;
  width: 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 50%;
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
}

.nav-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.2s ease;
  pointer-events: auto;
  z-index: 10;
}

.nav-button img:hover {
  transform: scale(1.1);
}

/* Individual pin positions */
.northside-pin {
  top: 60%;
  left: -10%;
  width: 470px;
  height: 470px;
}

.searchers-pin {
  top: 45%;
  left: 8%;
}

.plug-pin {
  top: 55%;
  left: 27%;
  width: 435px;
  height: 435px;
}

.happy-pin {
  top: 48%;
  left: 45%;
  width: 450px;
  height: 450px;
}

.sound-pin {
  top: 63%;
  left: 63%;
  width: 415px;
  height: 415px;
}

.rathe-pin {
  top: 63%;
  left: 79%;
  width: 460px;
  height: 460px;
}

.bottom-image {
  width: 100%;
  overflow: hidden;
}

.bottom-image img {
  display: block;
  width: 100%;
  height: auto;
}


footer {
  background-color: #242424;
  height: 60px;
  width: 100%;
  overflow: hidden;
  padding-top: 20px;
}

.crawl_wrapper {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: #EBC402;
}

.crawl_track {
  display: inline-block;
  animation: scroll-right 25s linear infinite;
  font-size: 16px;
}

.crawl_track span {
  display: inline-block;
  padding-right: 50px;
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}


