header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #EBC402;
  z-index: 999;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  gap: 24px;
}

nav a {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #242424;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ea3235;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



section {
  width: 100%;
  height: 100vh;
  margin: 0px;
}

.northside_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}


/* NORTHSIDE */
.northside_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

#northside {
  display: flex;
  position: relative;
  padding-top: 60px;
  background-color: #e8d8d4;
  height: 100vh; 
}

.northside_text {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  text-align: left;
  width: 60%;
  padding-left: 50px;
  padding-top: 40px;
  margin-left: 0;
  color: #111;
}

.northside_img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%; 
  overflow: hidden;
  z-index: 1;
}

.northside_img img {
  padding-top: 35px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


/* SEARCHERS */
#searchers {
  display: flex;
  position: relative;
  height: 100vh;
  background-color: #EBC402;
}
.searchers_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.searchers_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* PLUG */
#plug {
  display: flex;
  position: relative;
  height: 100vh;
  background-color: #C03C3A;
}
.plug_img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.plug_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* HAPPY */
#happy {
  display: flex;
  position: relative;
  height: 100vh;
  background-color: #EFE4E1;
}
.happy_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.happy_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* SOUNDMERCH */
#sound {
  display: flex;
  position: relative;
  height: 100vh;
  background-color: #EBC402;
}
.sound_img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.sound_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* RATHDOWNE */
#rathe {
  display: flex;
  position: relative;
  height: 100vh;
  background-color: #C03C3A;
}
.rathe_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.rathe_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

    
  
  



  

  

