/* HEADER & NAVIGATION WITH ICONS */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #EBC402;
  z-index: 999;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px; /* increase this to push icons outward */
}


.nav_icon {
  width: 90px; /* adjust size as needed */
  height: auto;
}

nav {
  display: flex;
  gap: 70px;
}

nav a {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #242424;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ea3235;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* NORTHSIDE */
.northside_content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 100vh;
}

#northside {
  display: flex;
  position: relative;
  padding-top: 60px;
  background-color: #f9f5e1;
  height: 100vh; 
}

.northside_text {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.4;
  text-align: left;
  width: 49%;
  padding-left: 30px;
  padding-top: 20px;
  color: #111;
}

.northside_rating {
  margin-top: 5px;
  text-align: left;
}

.northside_rating img {
  width: 400px;
  height: auto;
  display: block;
  margin-left: 150px;
  margin-top: -5px;
  animation: rock 2s ease-in-out infinite;
  transform-origin: center center;
}

@keyframes rock {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(5deg); }
  50%  { transform: rotate(0deg); }
  75%  { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.northside_img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.northside_img img {
  padding-top: 50px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


/* SEARCHERS */
.searchers_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

#searchers {
  background-color: #EBC402;
  overflow: hidden; /* prevents image overflow */
  position: relative;
  height: 100vh;
}

.searchers_text {
  width: 55%;
  margin-left: 600px; 
  margin-top: 130px;
  text-align: left;
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.4;
  color: #111;
  position: relative;
}

.searchers_rating {
  margin-top: 5px;
  text-align: left;
}

.searchers_rating img {
  width: 800px;
  height: auto;
  display: block;
  margin-left: 150px;
  margin-top: -50px;
  animation: rock 2s ease-in-out infinite;
  transform-origin: center center;
}


.searchers_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%; /* image takes up the left half */
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.searchers_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}


/* PLUG */
#plug {
  display: flex;
  position: relative;
  height: 100vh;
  background-color: #C03C3A;
}

.plug_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

.plug_text {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  text-align: left;
  width: 55%;
  padding-left: 30px;
  padding-top: 50px;
  position: relative;
  margin-top: -300px;
  color: #111;
}

.plug_img {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.plug_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* HAPPY */
#happy {
  display: flex;
  position: relative;
  height: 100vh;
  background-color: #ede8d0;
}

.happy_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

.happy_text {
  width: 40%;
  margin-left: 750px; 
  margin-top: 10px;
  text-align: left;
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  color: #111;
  position: relative;
  z-index: 2;
}

.happy_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.happy_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* SOUNDMERCH */
#sound {
  display: flex;
  position: relative;
  height: 100vh;
  background-color: #EBC402;
}
.sound_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

.sound_text {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  text-align: left;
  width: 57%;
  padding-left: 30px;
  padding-top: 18%;
  position: relative;
  margin-top: -300px;
  color: #111;
}

.sound_img {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.sound_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* RATHDOWNE */
#rathe {
  display: flex;
  position: relative;
  height: 100vh;
  background-color: #C03C3A;
}
.rathe_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

.rathe_text {
  width: 55%;
  margin-left: 580px; 
  margin-top: 10px;
  text-align: left;
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  color: #111;
  position: relative;
  z-index: 2;
}

.rathe_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.rathe_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

    
  
  



  

  

